.member-1 {
    background-image: url("../img/team/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontMirza);
}
.member-2 {
    background-image: url("../img/team/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontMirza);
}
.member-3 {
    background-image: url("../img/team/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontMirza);
}
.member-4 {
    background-image: url("../img/team/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontMirza);
}
.member-5 {
    background-image: url("../img/team/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontMirza);
}
.member-6 {
    background-image: url("../img/team/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontMirza);
}
.member-7 {
    background-image: url("../img/team/7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontMirza);
}
.member-8 {
    background-image: url("../img/team/8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontMirza);
}