:root {
    --main-color:#00494e; 
    --sec:#fa9b42;
    --font:rgb(255, 232, 181);
    --fontChanga:'Changa', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --fontElMessiri:'El Messiri', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --fontMirza:'Amiri', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
  }


  .navbar-brand{
      font-family: var(--fontElMessiri);
      
  }

  .nav-item{
      font-family: var(--fontMirza);
      font-size: large;
      
  }

.wellcom{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 700px;
    text-align: center;
  
  
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-family: var(--fontChanga)
}
.wellcom h1{
    padding-top: 250px;
  padding-bottom: 50px;
  font-family: var(--fontChanga)
}
/* start path */
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: rgb(209, 32, 32);
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed936;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}




/* start hover */



	.title-arch {
		text-align: center;
		margin: 50px 0;
        font-size: 22px;
        padding-top: 50px ;
        font-family: var(--fontElMessiri)
	}
.project {
	width: 100%;
	height: 500px;
	background-image: url();
	background-size: cover;
	background-position: center;
	padding: 0 !important;
	float:left;
}




.project-hover {
	width: 100%;
	height: 100%;
	color: #fff;
	opacity: 0;
	transition: all 0.5s ease;
	background-color: rgba(5, 54, 47, 0.7);
	padding: 40% 30px !important;
}

.project-hover hr {
	height: 30px;
	width: 0;
	transition: all 0.5s ease;
	background-color: rgba(255, 255, 255, 1);
	border: 0;
}

.project-hover a {
	color: rgba(255, 255, 255, 1);
	padding: 3px 22px 9px;
	line-height: 40px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
	transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
	border-color: rgba(51, 51, 51, 1);
	color: rgba(51, 51, 51, 1);
	background-color: #FFF;
}

.project:hover .project-hover {
	opacity: 1;
}

.project:hover .project-hover hr {
	width: 100%;
	height: 3px;
}



/* services */

.services{
    margin-top: 80px;
    padding-bottom: 50px;
  font-family: var(--fontChanga)
     
}

 
.services h2{
    padding-bottom: 50px;
    padding-top: 50px ;
}
.service-heading {
  margin: 10px 0;
  text-transform: none;
}

.regester{
color: snow;
padding-top: 100px;
  background-image: url("/img/BACKGROUND-FOOTER-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}